feedparser==6.0.11
matplotlib==3.10.1
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.2.4
pandas==2.2.3
pandas_gbq==0.28.0
plotly==6.0.1
protobuf==3.20.3
python-dotenv==1.1.0
pytz==2024.2
requests==2.32.3
scikit-learn==1.6.1
seaborn==0.13.2
streamlit==1.44.1
streamlit_ace==0.1.1
ta==0.11.0
tensorflow==2.19.0
yfinance==0.2.55
